body {
  margin: 0;
  padding: 0;
}
span {
  color: blue;
}

.navContainer {
  display: flex;
  justify-content: end;
  position: sticky;
  top: 0px;
  background-color: aquamarine;
  width: 100%;
  height: 80px;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar > li {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 60px;
}

.mainContainer {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}
